.carrito {
  background-color: rgb(28, 28, 28);
  width: 39.5%;
  height: max-content;
  position: fixed;
  word-wrap: break-word;
  z-index: 2;
  margin-top: 90px;
  margin-left: 59%;
  padding: 20px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(124, 124, 124);
}

@media (max-width: 768px) {
    .carrito {
        width: 60%;
        margin-left: 35%;
        margin-top: 60px;
      }
}

@media (max-width: 480px) {
  .carrito {
    width: 85%;
    margin-left: 12%;
  }
}
